
@import url(xpp.css);
/* comment */
html {
	font-height: 10pt ;
}

p {
	display:block;
	margin-top: 5p;
}

p:before {
		content: "{text}";
	
}

p:first-of-type {
	color:         red !important;
	width:        5.10p;
}

math\:p {
	color: green;
}

p.important {
	font-family: serif;	
}

h1:selected,
h2,
p[color = "red"][type="quick"] {
	color: attr(color);	
}
